html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
img { 
	box-sizing: content-box; 
}
/*--------END RESET--------*/

html {
	height: 100%;
	width: 100%;
	font-family: sans-serif;
}
body {
	height: 100%;
	width: 100%;
}
#menu {
	border: 5px solid #000000;
	opacity: 0.9;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 290px;
	height: 220px;
	margin-left: -145px;
	margin-top: -110px;
	background: #009933;
	z-index: 97;
}
#menu-layer {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 220px;
	height: 150px;
	margin-left: -110px;
	margin-top: -75px;
	background: #000000;
	z-index: 96;
}
#start-menu-button {
	font-family: verdana;
	font-weight: bold;
	font-size: 36px;
	border: 2px solid #ffffff;
	color: #ffffff;
	width: 140px;
	height: 80px;
	position: relative;
	left: 50%;
	top: 50%;
	margin-top: -40px;
	margin-left: -70px;
	background: #313131;
	z-index: 98;
}
#retry-menu-button {
	font-family: verdana;
	font-weight: bold;
	font-size: 36px;
	border: 2px solid #ffffff;
	color: #ffffff;
	width: 140px;
	height: 80px;
	position: relative;
	left: 50%;
	top: 50%;
	margin-top: -40px;
	margin-left: -70px;
	background: #313131;
	z-index: 98;
}
.menu-show {
	display: block;
}
.menu-hide {
	display: none;
}
#canvas-wrapper {
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}
#background-canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
}
.enemy {
	position: absolute;
	z-index: 2;
	background: #000000;
}
#enemy-hidden {
	background: none;
}
#jet-container {
	width: 235px;
	height: 42px;
	position: absolute;
	cursor: move;
	z-index: 7;
}
#jet-top {
	width: 235px;
	height: 38px;
	background: url(jet-top.png);
	position: absolute;
	z-index: 5;
	margin-top: -38px;
}
#jet-1 {
	width: 235px;
	height: 42px;
	background: url(jet-bottom.png);
	position: absolute;
	z-index: 4;
}
#thruster {
	width: 50px;
	height: 30px;
	background: url(fire3-tiny.png);
	position: absolute;
	margin-top: -2px;
	margin-left: -17px;
	z-index: 3;
}
.explosion {
	z-index: 6;
	background: url(explosion.png);
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -256px;
	margin-left: -256px;
	width: 512px;
	height: 512px;
}
.explosion-enemy {
	z-index: 5;
	background: url(explosion.png);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -256px;
	margin-top: -256px;
	width: 512px;
	height: 512px;
}