html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	height: 100%;
}
body {
	height: 100%;
}
#wrapper {
	height:100%;
	background: #193100;;
	width: 100%;
}
#content {
	height: 100%;
	width: 100%;
	overflow: auto;
}
#left-wrapper {
	float: left;
	height: 100%;
	width: 160px;
	padding-top: 20px;
	border-right: 3px solid #333300;
	background: #856545;
}
#left-wrapper button {
	margin-bottom: 7px;
	margin-left: 15px;
	width: 130px;
	height: 50px;
}
#left-wrapper p {
	margin-bottom: 10px;
	margin-left: 24px;
	font-size: 20px;
}
#right-wrapper {
	float: left;
	width: 500px;
	margin-left: 150px;
}
#right-wrapper p {
	position: absolute;
	top: 50%;
	margin-top: -250px;
	margin-left: 300px;
	color: #ffffff;
	font-size: 16px;
	font-family: Arial;
}
#map-container {
	position: absolute;
	top: 50%;
	margin-top: -200px;
	width: 500px;
	height: 400px;
	background: #ffffff;
}

