html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
img { 
	box-sizing: content-box; 
}


html {
	height: 100%;
	font-family: arial;
}
body {
	height: 100%;
}
#wrapper {
	height:100%;
	width: 100%;
}
#content {
	height: 100%;
	width: 100%;	
}
#side-bar {
	overflow: auto;
	float: left;
	height: 100%;
	width: 179px;
	border-right: 4px solid #FFFF66;
	padding-bottom: 10px;
	background: #856545;
}
#side-bar p {
	height: 23px;
	width: 130px;
	font-size: 20px;
	font-weight: bold;
	margin: 20px 0 10px 16px;
	color: #ffffff;
}
#side-bar button {
	border-radius: 15px;
	border: 1px solid #000000;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 7px;
	margin-left: 15px;
	width: 130px;
	height: 50px;
}
.button-normal {
	color: #000000;
	background: #00A6FF;
}
.button-active {
	background: #FFFF66;
	color: #ff0000;
}
#side-bar button:hover {
	background: #FFFF66;
}
#side-bar button:active {
	background: #FFFF66;
}
#side-bar button:focus {
	background: #ffff66;
}
#map {
	height: 100%;
	background: #CCCCCC
}
#map p {
	color: #ffffff;
	font-size: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -60px 0 0 10px;
}


